<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.physiclab">

    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />

    <uses-feature
        android:name="android.hardware.sensor.proximity"
        android:required="true" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/logo2"
        android:label="@string/app_name"
        android:roundIcon="@drawable/logo2_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true">
        <activity android:name=".features.sensors.environmental.Temprature"></activity>
        <activity android:name=".features.sensors.environmental.MenuEnvironmental" />
        <activity android:name=".features.sensors.position.GPSView" />
        <activity android:name=".features.sensors.position.Proximity" />
        <activity android:name=".features.sensors.position.Orientation" />
        <activity android:name=".features.sensors.position.Magnetometer" />
        <activity android:name=".features.sensors.position.MenuPositionSensor" />
        <activity android:name=".features.sensors.movement.GyroscopeView" />
        <activity android:name=".features.sensors.movement.AccelerometerWithoutG" />
        <activity android:name=".features.sensors.movement.AccelerometerView" />
        <activity android:name=".features.sensors.movement.MenuMovementSensor" />
        <activity android:name=".features.guides.MUCGuide" />
        <activity android:name=".features.guides.MUAGuide" />
        <activity android:name=".features.guides.MURGuide" />
        <activity android:name=".features.experiments.ExperimentMUCGyro" />
        <activity android:name=".features.experiments.ExperimentMUAProx" />
        <activity android:name=".features.experiments.ExperimentMURTimer" />
        <activity android:name=".features.theories.Muc_Theory" />
        <activity android:name=".features.theories.MuaTheory" />
        <activity android:name=".features.theories.MurTheory" />
        <activity android:name=".features.cuestionaries.ProblemsMuc" />
        <activity android:name=".features.cuestionaries.ProblemsMua" />
        <activity android:name=".features.cuestionaries.ProblemsMur" />
        <activity android:name=".MucIntroduction" />
        <activity android:name=".MuaIntroduction" />
        <activity android:name=".MurIntroduction" />
        <activity android:name=".MainActivity" />
        <activity android:name=".PreStart">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths" />
        </provider>
    </application>

</manifest>